<!-- Navbar -->
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <div class="container">
        <a href="/index" class="navbar-brand" id="">My First Bootstrap Project</a>
    <button 
        class="navbar-toggler" 
        type="button" 
        data-bs-toggle="collapse" 
        data-bs-target="#navdropmenu">
        <span class="navbar-toggler-icon"></span>
    </button>

        <div class="collapse navbar-collapse" id="navdropmenu">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a href="/post1" class="nav-link">First Item</a>
                </li>
                <li class="nav-item">
                    <a href="/post2" class="nav-link">Second Item</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Third Item</a>
                </li>
            </ul>
        </div>
    </div>
</nav>