<!-- Showcase top bar background, image and text -->
<Section class="bg-dark text-light p-3 text-centre">
    <div class="container">
        <div class="d-sm-flex">
            <div>
                <h1>Welcome to my Project Page</h1>
            <p>
                This page is constructed to showcase my own skills in developing reactive webpages. In future I'll add more about my other projects including <span class="text-warning">API's</span>, attempts at <span class="text-warning">Javascript</span> aplications, and fun <span class="text-warning">CSS </span> projects that I've created!
            </p>

                <div class="text-center">
                    <a button class="btn btn-warning btn-sm" href="/post2">View my Latest work</button></a>
                </div >

            </div>

            <img class="img-fluid w-50 d-none d-sm-block d-flex rounded mx-auto d-block" id="toprightimg" src="img/undraw_code_thinking_re_gka2.svg" alt="a coder thinking">
        </div>
    </div>
</Section>